{{isAdmin}} - Role
<mat-toolbar class="color-IDB">
  <ng-container *ngIf="!isAdmin; else vieAdmin" class="color-IDB">
  <span>Estado de Cuentas IDB</span>
  <span class="spacer"></span>
  <div>
    <a mat-button [routerLink]="'/login'">Login</a>
    <a mat-button >Logout</a>
    <a mat-button [routerLink]="'/admin'">Admin</a>
  </div>
</ng-container>

</mat-toolbar>




<ng-template #vieAdmin>
<button mat-icon-button (click)="onToggleSidenav()">
  <mat-icon>
    menu
  </mat-icon>
</button>
<span class="spacer"></span>
</ng-template>
