<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Numero de Orden">
    <th mat-header-cell *matHeaderCellDef> Número de Orden</th>
    <td mat-cell *matCellDef="let element"><a (click)="openModal()"> {{element.numero}} </a> </td>
  </ng-container>
  <ng-container matColumnDef="Fecha de Emision">
    <th mat-header-cell *matHeaderCellDef> Fecha de Emisión </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha|date}} </td>
  </ng-container>
  <ng-container matColumnDef="Monto">
    <th mat-header-cell *matHeaderCellDef> Monto </th>
    <td mat-cell *matCellDef="let element"> {{element.montoBs|number}} </td>
  </ng-container>
  <ng-container matColumnDef="Monto Dolar">
    <th mat-header-cell *matHeaderCellDef> Monto en $ </th>
    <td mat-cell *matCellDef="let element"> {{element.montoDol|number}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
