<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <form  [formGroup]="iForm"  *ngIf="this.iForm" >
    <div class="row">

      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Cédula"
          formControlName="cedula"
          minlength="6" maxlength="10"
          #ced name="ced" id="ced" tabindex="0" readonly
            >
          <mat-error autofocus *ngIf="iForm.controls['cedula'].hasError('required')">
            Cédula es <strong>requerido</strong> </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('minLength')">
            Se requiere <strong> 6 minimo de caracteres</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('maxlength')">
            Se requiere <strong> maximo de 10 de caracteres</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('rifTaken')">
            La cédula ya <strong> existe</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('pattern')">
            Se requiere <strong> solo números</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Contraseña"
          formControlName="password"
          required
          #pass name="pass" id="pass" tabindex="1"
          >
          <mat-error *ngIf="iForm.controls['password'].hasError('required')">
            La contraseña es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('minLength')">
            Se requiere <strong> 6 minimo de caracteres</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('maxlength')">
            Se requiere <strong> maximo de 10 de caracteres</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close ><mat-icon>cancel</mat-icon> Cancel</button>
  <button mat-button [mat-dialog-close]="npass" (clic)="onSubmit()"><mat-icon>save</mat-icon>  Guardar </button>
</mat-dialog-actions>

<!-- <mat-dialog-content class="mat-typography">
<div class="container">
  <form [formGroup]="iForm" #Form="ngForm"  *ngIf="this.iForm" >
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Cédula"
          formControlName="cedula"
          minlength="6" maxlength="10"
          #ced name="ced" id="ced" tabindex="0" readonly
            >
          <mat-error autofocus *ngIf="iForm.controls['cedula'].hasError('required')">
            Cédula es <strong>requerido</strong> </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('minLength')">
            Se requiere <strong> 6 minimo de caracteres</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('maxlength')">
            Se requiere <strong> maximo de 10 de caracteres</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('rifTaken')">
            La cédula ya <strong> existe</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('pattern')">
            Se requiere <strong> solo números</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Contraseña"
          formControlName="password"
          required
          #pass name="pass" id="pass" tabindex="1"
          >
          <mat-error *ngIf="iForm.controls['password'].hasError('required')">
            La contraseña es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('minLength')">
            Se requiere <strong> 6 minimo de caracteres</strong>
          </mat-error>
          <mat-error *ngIf="iForm.controls['cedula'].hasError('maxlength')">
            Se requiere <strong> maximo de 10 de caracteres</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row  align-items-center">
      <div class="col text-center">
        <button mat-button mat-dialog-close ><mat-icon>cancel</mat-icon> Cancel</button>
        <button mat-button [mat-dialog-close]="true"  (click)="onSubmit()"
        [disabled]="Form.form.invalid"
        > <mat-icon>save</mat-icon>  Guardar</button>
      </div>
    </div>
  </form>

</div>
</mat-dialog-content> -->
