<h2 mat-dialog-title>{{title}}</h2>
<form [formGroup]="iForm" #Form="ngForm"  *ngIf="this.iForm" >
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Cédula"
                    formControlName="cedula"  
                    required 
                    (keypress)="save($event)" #primero name="primer" id="primer"     
                    >
                    <mat-error autofocus *ngIf="iForm.controls['cedula'].hasError('required')">
                        Cédula es <strong>requerido</strong> </mat-error>
                      <mat-error *ngIf="iForm.controls['cedula'].hasError('minLength')">
                        Se requiere <strong> 6 minimo de caracteres</strong>
                      </mat-error>
                      <mat-error *ngIf="iForm.controls['cedula'].hasError('maxlength')">
                        Se requiere <strong> maximo de 10 de caracteres</strong>
                      </mat-error>
                      <mat-error *ngIf="iForm.controls['cedula'].hasError('rifTaken')">
                        La cédula no <strong> existe</strong>
                      </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button mat-dialog-close  ><mat-icon>cancel</mat-icon> Cancel</button>
  <button mat-button [mat-dialog-close]="patientss" 
  [disabled]="Form.form.invalid"
  (click)="onSubmit()"
   > <mat-icon>save</mat-icon>  Guardar</button>
</mat-dialog-actions>
</form>