<div class="user-info">

  <div class="layaout" >
    <div class="card"*ngFor="let promotion of promotions">
      <img src={{promotion.imageUrl}} />
      <div class="card-body">
        <h5 class="card-title">{{promotion.title}}</h5>
        <p class="card-text" style="display:block;text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">
          {{promotion.content}}
        </p>
        <a (click)="getDetailNews(promotion.id)" style="color: #0077cb;cursor: pointer;" >Leer más</a>
      </div>
    </div>

    <!----->
    <!----->
  </div>
  <mat-card class="card-user-info" >
  <div class="row g-0">
    <div class="col-md-8">
      <div> <a>{{sexo}} {{medico.nombres}} {{medico.apellidos}} </a> </div>
      <div> <a>Cédula: {{medico.rif}}</a></div>
      <div> <a >Fecha: {{date|date:'dd/MM/YYYY'}}</a> </div>
    </div>
    <div class="col-md-4 estado">
      <h3 style="text-align: center;">Estado de Cuenta</h3>
      <h5 style="text-align: center;">Cobro en Nombre de Médicos</h5>
    </div>
  </div>
  </mat-card>
</div>
