

<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title style="text-align: center;">Editar datos del medico</h2>
  <div class="container">
    <div class="row g-0">
      <div class="col-12">
        <mat-card>
          <div class="row g-0">
            <form [formGroup]="updateMed" *ngIf="flag">
              <mat-form-field style="width:100% ; " hidden>
                <input type="text" matInput placeholder="id" [(ngModel)]='_medico.id' value={{_medico.id}}  formControlName="id">
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; "  >
                <input [disabled]='true' type="text" matInput placeholder="Usuario"formControlName="extId" [(ngModel)]='_medico.extId' value={{_medico.extId}} >
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Nombres"formControlName="nombres" [(ngModel)]='_medico.nombres' value={{_medico.nombres}} >
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Apellidos"formControlName="apellidos" [(ngModel)]='_medico.apellidos' value={{_medico.apellidos}} >
              </mat-form-field>
              <mat-form-field hidden>
                <input type="text" matInput placeholder="full_Name"formControlName="full_Name" [(ngModel)]='_medico.full_Name' value={{_medico.full_Name}} >
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Rif"formControlName="rif" [(ngModel)]='_medico.rif' value={{_medico.rif}}>
              </mat-form-field>
              <mat-form-field style="width: 90%;margin: 5%;">
                <textarea name="" id="" cols="30" rows="5" matInput placeholder="Direccion"formControlName="direccion" [(ngModel)]='_medico.direccion'
                value={{_medico.direccion}}></textarea>
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Email"formControlName="email" [(ngModel)]='_medico.email' value={{_medico.email}}>
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Celular"formControlName="celular" [(ngModel)]='_medico.celular' value={{_medico.celular}}>
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Sexo"formControlName="sexo" [(ngModel)]='_medico.sexo' value={{_medico.sexo}}>
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Zona"formControlName="zona" [(ngModel)]='_medico.zona' value={{_medico.zona}}>
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="Ciudad"formControlName="ciudad" [(ngModel)]='_medico.ciudad' value={{_medico.ciudad}}>
              </mat-form-field>
              <mat-form-field style="width:40%;margin: 5%; ">
                <mat-label  >Especialidad</mat-label>
                <mat-select formControlName="especialidad" required  >
                <mat-option *ngFor="let especialidad of especialidades" value={{especialidad.id}}>{{especialidad.especialidad}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field hidden style="width:40%;margin: 5%; ">
                <input type="text" matInput placeholder="activo"formControlName="activo" [(ngModel)]='_medico.activo' value={{_medico.activo}}>
              </mat-form-field>
              <div>
                <form [formGroup]="especiales" *ngIf="flag">
                  <mat-checkbox formControlName="contrato" style="padding: 1rem; width: 40%;">Contrato</mat-checkbox>
                  <mat-checkbox formControlName="cortesia" style="padding: 1rem; width: 40%;">Cortesia</mat-checkbox>
                </form>
              </div>
              <br>

              <button mat-button (click)="updateMedi()" mat-dialog-close style="margin-left: 25%;">Aceptar</button>
              <button mat-button [mat-dialog-close]="true" cdkFocusInitial style="margin:5%">Cancelar</button>
          </form>

          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
