.form{
  padding: 4rem 1rem;
}
.full-width-input{
  width: 100%;
  opacity: 1;
}
.layaout{
  height: 200px;
  width: 800px;
}
h1{text-align: center;}
button{
  width: 45%;
  margin: auto  2.5%;
}
.backgroundButton{
  border: 1px #0077cb solid;
  background: #fff;
  color: #0077cb;
}
.backgroundButton1{
  border: 1px #f44336 solid;
  background: #fff;
  color: #f44336;
}
