<div class="layaout">
  <mat-card>
    <mat-card-content *ngIf="!flag && !newpasswordbol">
      <h1>Restablecer Contraseña</h1>
      <form [formGroup]="resetForms">
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Correo electronico" formControlName="correo">
        </mat-form-field>
        <button type="submit" mat-raised-button class="backgroundButton"  (click)="send()">Enviar</button>
        <button  mat-raised-button  mat-dialog-close class="backgroundButton1">Cancelar</button>
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="flag && !newpasswordbol">
      <form [formGroup]="restablecer">
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Introduce codigo de verificación enviado al correo" formControlName="codigo">
        </mat-form-field>
        <button type="submit" style="width: 100%;" mat-raised-button class="backgroundButton" (click)="sendcode()" >Enviar</button>
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="newpasswordbol">
      <form [formGroup]="newpassword">
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Introduce la nueva contraseña" formControlName="newpassword">
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Repite nuevamente la contraseña" formControlName="newpasswordrepit">
        </mat-form-field>
        <button type="submit" style="width: 100%;" mat-raised-button class="backgroundButton" mat-dialog-close mat-dialog-close>Enviar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
