<h2 mat-dialog-title style="text-align: center;">{{promotion.title}}</h2>
<mat-dialog-content class="mat-typography">
<div class="container">
  <div class="row g-0">
    <div class="col-4">
      <img src={{promotion.imageUrl}} alt="150px" width="100%">
    </div>
    <div class="col-8" style="padding-left:2rem;">
      <p style="text-align: justify; text-justify: inter-word; ">
        {{promotion.content}}
      </p>
    </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>volver</button>
</mat-dialog-actions>
