<h2 mat-dialog-title>{{title}}</h2>
<form [formGroup]="iForm" #Form="ngForm"  *ngIf="this.iForm" >
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Cédula"
                    formControlName="cedula"    readonly   
                    >
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{title}}"
                    formControlName="npassword"      
                    >
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button mat-dialog-close  ><mat-icon>cancel</mat-icon> Cancel</button>
  <button mat-button [mat-dialog-close]="patientss" 
  [disabled]="Form.form.invalid"
  (click)="onSubmit()"
   > <mat-icon>save</mat-icon>  Guardar</button>
</mat-dialog-actions>
</form>