<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1>Grupo de Clinicas IDB</h1>
      <mat-form-field class="full-width-input">
        <input matInput    placeholder="Usuario" type="text" required>
      </mat-form-field>
      <mat-form-field class="full-width-input separator">
        <input matInput   placeholder="Contraseña" type="password" required>
      </mat-form-field >
      <button type="submit" mat-raised-button class="backgorundButton">Ingresar</button>
    </mat-card-content>
  </mat-card>
</div>
