<h2 mat-dialog-title>Añadir nuevo médico</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row g-0">
      <div class="col-12">
        <mat-card>
          <div class="row g-0">
            <form [formGroup]="createdMed" *ngIf="!_flag">
              <mat-form-field class="full-width-input" hidden>
                <input type="text"  matInput placeholder="id" formControlName="id" [(ngModel)]="_medico.medico.id" value={{_medico.medico.id}} >
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Usuario" #user formControlName="usuario" [(ngModel)]="_medico.username" value={{_medico.username}} (keydown.enter)="getDataProfit(user.value)">
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Contraseña" #password formControlName="password" [(ngModel)]="_medico.password" value={{_medico.password}} >
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Cedula" #cedula formControlName="rif" [(ngModel)]="_medico.medico.rif" value={{_medico.medico.rif}} >
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Nombre" formControlName="nombres" [(ngModel)]="_medico.medico.nombres" value={{_medico.medico.nombres}}>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Apellido" formControlName="apellidos" [(ngModel)]="_medico.medico.apellidos" value={{_medico.medico.apellidos}}>
              </mat-form-field>
              <mat-form-field class="full-width-input" hidden>
                <input type="text" matInput placeholder="full-Name" formControlName="full_Name" [(ngModel)]="_medico.medico.full_Name" value={{_medico.medico.full_Name}}>
              </mat-form-field>
              <mat-form-field class="full-width-input" >
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" [(ngModel)]="_medico.medico.sexo" value={{_medico.medico.sexo}} required>
                  <mat-option value="M">Masculino</mat-option>
                  <mat-option value="F">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="email" matInput placeholder="Email" [(ngModel)]="_medico.medico.email" formControlName="email" value={{_medico.medico.email}}>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="tel" matInput placeholder="Celular" [(ngModel)]="_medico.medico.celular" formControlName="celular" value={{_medico.medico.celular}}>
              </mat-form-field>
              <mat-form-field class="full-width-input" >
                <mat-label  >Especialidad</mat-label>
                <mat-select formControlName="especialidad" required  >
                  <mat-option *ngFor="let especialidad of especialidades" value={{especialidad.id}}>{{especialidad.especialidad}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Zona de residencia" [(ngModel)]="_medico.medico.zona" formControlName="zona" value={{_medico.medico.zona}}>
              </mat-form-field>
              <mat-form-field class="full-width-input" style="width: 100%;">
                <input type="text" matInput placeholder="Ciudad" formControlName="ciudad" [(ngModel)]="_medico.medico.ciudad" value={{_medico.medico.ciudad}}>
              </mat-form-field>
              <mat-form-field class="full-width-input" style="width: 100%;" hidden>
                <input type="text" matInput placeholder="activo" formControlName="activo" [(ngModel)]="_medico.medico.activo" [value]='_medico.medico.activo'>
              </mat-form-field>
              <br>

          </form>
          <div class="col-sm-12"*ngIf="!_flag">
            <button mat-button  (click)="registrar()"><mat-icon>add</mat-icon> Añadir</button>
            <button mat-button mat-dialog-close> <mat-icon>reply</mat-icon>Cancelar</button>
          </div>

          <div class="col-sm-12 alert alert-danger card-message"  *ngIf="_flag">
              <h1>{{messageErr}}</h1>
              <button mat-button (click)="reload()"><mat-icon>add</mat-icon>Intentar de nuevo</button>
          </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>

