<div class="container">
  <div class="row g-0">
    <div class="col-12">
      <mat-card>
        <div class="row g-0">
          <form [formGroup]="registerMedForms">
            <mat-form-field class="full-width-input" hidden>
              <input type="text" matInput placeholder="id" formControlName="id" [(ngModel)]="medico.id" value={{medico.id}}>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type="text" matInput placeholder="Cedula" formControlName="rif" [(ngModel)]="medico.rif" value={{medico.rif}}>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type="text" matInput placeholder="Nombre" formControlName="nombres" [(ngModel)]="medico.nombres" value={{medico.nombres}}>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type="text" matInput placeholder="Apellido" formControlName="apellidos" [(ngModel)]="medico.apellidos" value={{medico.apellidos}}>
            </mat-form-field>
            <mat-form-field class="full-width-input" >
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo" [(ngModel)]="medico.sexo" value={{medico.sexo}} required>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Femenino</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type="email" matInput placeholder="Email" [(ngModel)]="medico.email" formControlName="email" value={{medico.email}}>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type="tel" matInput placeholder="Celular" [(ngModel)]="medico.celular" formControlName="celular" value={{medico.celular}}>
            </mat-form-field>
            <mat-form-field class="full-width-input" >
              <mat-label  >Especialidad</mat-label>
              <mat-select formControlName="especialidad" required  >
                <mat-option *ngFor="let especialidad of especialidades" value={{especialidad.id}}>{{especialidad.especialidad}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type="text" matInput placeholder="Zona de residencia" [(ngModel)]="medico.zona" formControlName="zona" value={{medico.zona}}>
            </mat-form-field>
            <mat-form-field class="full-width-input" style="width: 100%;">
              <input type="text" matInput placeholder="Ciudad" formControlName="ciudad" [(ngModel)]="medico.ciudad" value={{medico.ciudad}}>
            </mat-form-field>
            <button type="submit"mat-raised-button class="btn btn-primary">Crear</button>
            <button type="submit"mat-raised-button class="btn btn-danger">Cancelar</button>
        </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
