.tabla{
  margin-top: 0%
}
.mat-elevation-z8{
width: 1048px;
}
.font{
  font-weight: 500;
  text-align: center;
}
.font-rigth{
  text-align: center;
  font-weight: 600;
  color: #0077cb;
}
th{
  background: #0077cb;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
td{
  font-size: 1rem;
  text-align: center;
}
tr:hover{
  background: #ffff;
  color: #000;
  opacity: 0.90;
  box-shadow: 2px 2px 5px #999;

}
.alin-regth{
  text-align: right;
  font-weight: 600;

  color: #0077cb;
  }
.monto{
  margin: 1rem auto;
  text-align: right;
  max-width: 950px;

  font-style: normal;
  font-size:large ;

}
h2{
  text-align: center;
  font-weight: 600;
  color: #0077cb;
}
mat-card{
  margin-top: 1.5rem;
  color: #fff;


}
.totales{
  width: 25%;
  max-width:  750px;
  margin: 0 60%;
  text-align: right;
}
.totales td{
  text-align: right;
  margin-left: 0;
}
.card-user-info{
  background: #0077cb;
  width: auto;
  border-radius: 8px;
  padding-bottom: -5%;
  box-shadow: 2px 2px 5px #999;
}
.estado{
  color: #fff;
  font-weight: 400;
  font-size: 50px;
  margin-top: 5.8%;
  margin-bottom: auto;
}
.texto{
  font-weight: 500;
  font-size: large;
  color: #fff;
}
